html {
    min-height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    width:100%;
}
body {
    color:#000;
    font-weight:100;
    margin:0;
    min-height:100%;
    width:100%;
    background-color: #6990e1;

}

.container {
    margin:0;
}

.navbar{
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border-color: black;
    border-right: none;
    border-top: none;


}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.headers,.names {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.winner {
    text-align: center;
    color: #398439;
    font-weight:bold;
}




.winner_img {
    height : 130px;
    width: 100px;
    font-size: 40px;
    font-weight:bold;
}

.recommendation_logo {
    margin-top: -12px;
}


#compare,#selection {
    display: none;
}

#compare{
    padding-left: 15%;
    padding-right: 25%;
    margin-top: 4%;
}

#selection {
    margin-left: 25%;

}
.hida {
    font-weight: normal;
}
.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a,
.dropdown a:visited {
    text-decoration:none;
    outline:none;
}
.dropdown dt a {
    display:block;
    font-style:normal ;
    color:#fff;
    line-height: 22px;
    height:22px;
    overflow: hidden;
    border:0;
    width:168px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown dd ul {
    border:0;
    display:none;
    background-color: black;
    /*
    background-color: #28a4c9;
    */
    left:0px;
    position:absolute;
    top:2px;
    width:168px;
    list-style:none;
    height: 140px;
    overflow: auto;
    -webkit-padding-start:10px;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#6990e1 ;
}

select, .dropdown {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background-color: black;
  /*  background: #28a4c9;
  */
    color:#fff;
    border:black;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width:168px;

}

.w3-container select {
    color : #fff;
}

.container{
    background-color: #6990e1;
}

option{
    text-align: center;
}

#headline {
    margin-bottom:10%;
}

.ImageDisplay {
    height: 90px;
    width: 60px;
}

#priority{
    margin-top:30px;
}

#drop_downs {
    margin-top:4%;
    margin-bottom: 4%;
}

.video {
    margin-left: 28%;
}
.btn{
    line-height: 1;
}
.btn-primary {
    background: black;
/*
    background: #28a4c9;
    */
    border:none;
    margin-left:-8px;
    padding: 4px;
}
.btn-primary:hover {
    background-color: black;
    border-color:black;
    /*
    background-color:#28a4c9;
    border-color:#28a4c9;
    */
}

#filter {
    margin-left: 25%;
    margin-top : 5%;
    display: none;

}

#filter_btn {
    margin-top: 1.5%;
}
